body{
    background-image: url('../img/Backgraud-Mansao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.selection-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logo{
    height: 200px;
}

.selection-content{
    max-width: 340px;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.selection-content img{
    border-radius: 100%;
    border: solid black 2px;
}

.selection-content .img:hover {
    filter: grayscale(0);
    border: 2px solid rgb(0, 97, 104);
    cursor: pointer;
}

.name{
    color: white;
}

.description{
    color: white;
    
}
